<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/login.css?v={{ layui.admin.v }}-1" media="all">
</script>

<div class="layui-box wrap twm_login_box">
    <header class="header">
        <section class="sec">
            <h1 class="top-logo">
                <a href="/"><span class="h5bp">后台管理</span></a>
            </h1>
            <div class="top-menu">
                <ul>
                    <li><a class="active" href="http://gup.ztgame.com//">首页</a></li>
                    <li><a href="http://gup.ztgame.com/product-support.html">产品支持</a></li>
                    <li><a href="http://gup.ztgame.com/mobile-platform.html">手游平台</a></li>
                    <li><a href="http://gup.ztgame.com/pc-platform.html">端游平台</a></li>
                    <li><a href="http://gup.ztgame.com/risk-management.html">风控管理</a></li>
                    <li><a href="http://gup.ztgame.com/ops-solution.html">运维保障</a></li>
                    <li><a href="http://gup.ztgame.com/skill-sharing.html">技术分享</a></li>
                </ul>
            </div>
            <div class="layui-box login-btn-or-username" id="login-btn-or-username">
                <a class="login-btn" href="javascript:void(0);" id="login-btn">登录</a>
            </div>
        </section>
    </header>
    <div class="layui-row twm-body">
        <div class="layui-col-xs8 layui-col-xs-offset2" id="systems-box">

        </div>
    </div>
</div>

<div class="layadmin-user-login" id="LAY-user-login" style="display: none;">
    <div class="layadmin-user-login-main">
        <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
            <div class="layui-form-item auth_type_box">
                <select class="" name="auth_type">
                    <option value="0">域账号</option>
                    <option value="1">普通账号</option>
                    <option value="2">常州账号</option>
                </select>
            </div>
            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-username" for="LAY-user-login-username"></label>
                <input type="text" name="account" id="LAY-user-login-username" lay-verify="required" autocomplete="off" placeholder="域用户名" class="layui-input">
            </div>
            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-password" for="LAY-user-login-password"></label>
                <input type="password" name="password" id="LAY-user-login-password" lay-verify="required" autocomplete="off" placeholder="密码" class="layui-input">
            </div>
            <div class="layui-form-item">
                <div class="layui-row">
                    <div class="layui-col-xs7">
                        <label class="layadmin-user-login-icon layui-icon layui-icon-vercode" for="LAY-user-login-vercode"></label>
                        <input type="text" name="captcha" id="LAY-user-login-vercode" lay-verify="required" placeholder="图形验证码" class="layui-input">
                    </div>
                    <div class="layui-col-xs5">
                        <div style="margin-left: 10px;">
                            <img class="layadmin-user-login-codeimg" id="LAY-user-get-vercode" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-form-item" style="margin-bottom: 20px;">
                <!--<input type="checkbox" name="is_maintain" lay-skin="primary" title="维护后台">-->
                <!--<a lay-href="/user/forget" class="layadmin-user-jump-change layadmin-link" style="margin-top: 7px;">忘记密码？</a>-->
            </div>
            <div class="layui-form-item">
                <input type="hidden" name="sid" value="1">
                <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="LAY-user-login-submit">登 录</button>
            </div>
        </div>
    </div>
</div>
<script>

layui.use(['admin', 'form', 'user'], function() {
    var $ = layui.$, setter = layui.setter, layer = layui.layer, view = layui.view, admin = layui.admin, form = layui.form, router = layui.router(), search = router.search;

    var systemsBox = $('#systems-box'),
        loginBtnBox = $('#login-btn-or-username')
    ;
    //拉取系统列表
    var renderSystemSelect = function() {
        var systemTpl = '<a class="systems-item layui-col-xs1" href="javascript:;">' +
            '                <div><img src="__URL__"></div><h3>__SYSTEMS_NAME__</h3>' +
            '                <input type="hidden" name="systems_id__SYSTEMS_ID__" value="__SYSTEMS_ID__"/>' +
            '            </a>';
        var maintainTpl = '<div class="maintain"><a href="javascript:void(0);">维护</a><input type="hidden" name="systems_id__SYSTEMS_ID__" value="__SYSTEMS_ID__"/></div>';
        // 拉取所有系统接口
        admin.req({
            url: '/admin/common/systems',
            method: 'get',
            done: function(res) {
                var systemOptions = '';
                var systemItemHtml = '';
                $.each(res.data.systems, function (k, v) {
                    systemItemHtml = systemTpl;
                    // var maintainHtml = (v.systems_id === 1) ? '' : maintainTpl;
                    var system_icon = v.show_url ? v.show_url : '/img/testSystem.png';
                    var maintainHtml = '';
                    systemItemHtml = systemItemHtml.replace('__MAINTAIN__', maintainHtml).replace(/__SYSTEMS_ID__/g, v.systems_id).replace('__SYSTEMS_NAME__', v.name).replace('__URL__', system_icon);
                    systemOptions += systemItemHtml;
                });
                systemsBox.html(systemOptions);

                form.render('select');
            }
        });
    }

    //触发验证码
    $('#LAY-user-get-vercode').trigger('click');

    //触发登录
    var showLogin = function () {
        layer.open({
            title: '统一登录',
            area: ['500px', '400px'],
            type: 1,
            content: $('#LAY-user-login') //这里content是一个普通的String
        });
    }

    //判断是否登录成功
    var isLogged = function () {
        return layui.data(setter.tableName)[setter.request.tokenName] && layui.data(setter.tableName)['sid'];
    }

    //登录成功回调
    var loginSuccessCallback = function() {
        var username = layui.data(setter.tableName)['username'];
        // var loginHtml = '<div id="loggedIn"><a href="javascript:void(0);">__USERNAME__</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" id="modify-password">修改密码</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" id="log-out">退出</a></div>';
        var loginHtml = '<div class="loginAfter layui-box" href="javascript:void(0);">\n' +
            '                    <div class="extendBtn">\n' +
            '                        <div class="show_hide_box"><div class="triangle"></div>\n' +
            '                        <ul>\n' +
            '                            <li><a id="nickname" href="javascript:void(0);">__USERNAME__</a></li>\n' +
            '                            <li><a id="modify-password" href="javascript:void(0);">修改密码</a></li>\n' +
            '                            <li><a id="maintain-btn" href="javascript:void(0);">维护后台</a></li>\n' +
            '                            <li><a id="log-out" href="javascript:void(0);">退出</a></li>\n' +
            '                        </ul></div>\n' +
            '                    </div>\n' +
            '                </div>';
        loginHtml = loginHtml.replace('__USERNAME__', username);
        loginBtnBox.html(loginHtml);
        return true;
    }

    //清楚token退出即可
    //todo 请求服务端，销毁 token
    var logOut = function () {
        localStorage.clear();
        loginBtnBox.html('<a class="login-btn" href="javascript:void(0);" id="login-btn">登录</a>');
    }

    /**
     * 授权请求
     * @param go_sid 系统id
     * @param is_maintain 是否进入维护，维护即进入中心后台
     */
    var authorization = function (go_sid, is_maintain) {
        //检测是否登录
        if (!isLogged()) {
            showLogin();
            return false;
        }

        //请求授权
        if (!go_sid) {
            view.error('系统Id异常，刷新页面重试！');
        }

        var data = {"go_sid": go_sid, "is_maintain": is_maintain};
        // 请求系统授权
        admin.req({
            url: '/authentication/auth/get-token-by-token',
            method: 'get',
            data: data,
            done: function(res) {

                if (res.code !== 0) {
                    layer.errorMsg(res.msg);
                    return false;
                }

                location.href = res.data.redirect_url;
            }
        });
    }

    //初始化执行内容
    var init = function() {
        //渲染系统列表
        renderSystemSelect();
        //判断是否登录
        if (isLogged()) {
            loginSuccessCallback();
        }
    }
    init();

    // ---- 事件监听

    // 登录按钮提交
    form.on('submit(LAY-user-login-submit)', function(obj) {
        // 请求登入接口
        admin.req({
            url: '/authentication/token/get',
            method: 'post',
            data: obj.field,
            done: function(res) {
                if (res.code !== 0) {
                    view.error(res.msg);
                    return;
                }
                //获取到token显示姓名和存储数据
                var jwtObj = res.data.access_token.split('.');
                var payload = JSON.parse(atob(jwtObj[1]));
                console.log(payload);
                // 请求成功后，写入 access_token
                layui.data(setter.tableName, {
                    key: setter.request.tokenName,
                    value: res.data.access_token
                });
                // 请求成功后，写入 username
                layui.data(setter.tableName, {
                    key: 'username',
                    value: payload.name
                });
                // 请求成功后，写入 sid
                layui.data(setter.tableName, {
                    key: 'sid',
                    value: payload.sid
                });

                loginSuccessCallback();
                layer.closeAll();
            }
        });
    });

    //监听登录按钮
    loginBtnBox.on('click', '#login-btn', function (e) {
        showLogin();
    });

    //监听退出
    loginBtnBox.on('click', '#log-out', function (e) {
        logOut();
    });

    //监听修改密码
    loginBtnBox.on('click', '#modify-password', function (e) {
       location.hash = '/user/forget/type=resetpass';
    });

    //跳转到业务登录页
    loginBtnBox.on('click', '#maintain-btn', function (e) {
        location.hash = '/user/maintain';
    });

    //监听头像触发下拉选择框
    loginBtnBox.on('mouseover', '.loginAfter .extendBtn', function (e) {
        $(this).find('.show_hide_box').show();
    });
    //监听头像触发下拉选择框
    loginBtnBox.on('mouseout', '.loginAfter .extendBtn', function (e) {
        $(this).find('.show_hide_box').hide();
    });

    //监听系统点击
    systemsBox.on('click', '.systems-item', function (e) {
        var go_sid = $(this).find('input').val();
        authorization(go_sid, 0);//授权业务后台
    });


});
</script>