<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/login.css?v={{ layui.admin.v }}-1" media="all">
</script>
<div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login" style="display: none;">
    <div class="layadmin-user-login-main">
        <div class="layadmin-user-login-box layadmin-user-login-header">
            <h2>后台登录统一入口</h2>
            <p>巨人网络通用后台管理系统</p>
        </div>
        <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
            <div class="layui-form-item">
                <div class="layui-block layui-form" lay-filter="login-select-filter">
                    <select name="sid" id="login-systems-select">
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-username" for="LAY-user-login-username"></label>
                <input type="text" name="account" id="LAY-user-login-username" lay-verify="required" autocomplete="off" placeholder="域用户名" class="layui-input">
            </div>
            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-password" for="LAY-user-login-password"></label>
                <input type="password" name="password" id="LAY-user-login-password" lay-verify="required" autocomplete="off" placeholder="密码" class="layui-input">
            </div>
            <div class="layui-form-item">
                <div class="layui-row">
                    <div class="layui-col-xs7">
                        <label class="layadmin-user-login-icon layui-icon layui-icon-vercode" for="LAY-user-login-vercode"></label>
                        <input type="text" name="captcha" id="LAY-user-login-vercode" lay-verify="required" placeholder="图形验证码" class="layui-input">
                    </div>
                    <div class="layui-col-xs5">
                        <div style="margin-left: 10px;">
                            <img class="layadmin-user-login-codeimg" id="LAY-user-get-vercode" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-form-item" style="margin-bottom: 20px;">
                <input type="checkbox" name="is_maintain" lay-skin="primary" title="维护后台">
                <!--<a lay-href="/user/forget" class="layadmin-user-jump-change layadmin-link" style="margin-top: 7px;">忘记密码？</a>-->
            </div>
            <div class="layui-form-item">
                <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="LAY-user-login-submit">登 录</button>
            </div>
        </div>
    </div>
    <div class="layui-trans layadmin-user-login-footer">
        <p>© 2018 <a href="http://www.ztgame.com/" target="_blank">ztgame.com</a></p>
    </div>
</div>
<script>

layui.use(['admin', 'form', 'user'], function() {
    var $ = layui.$, setter = layui.setter, admin = layui.admin, form = layui.form, router = layui.router(), search = router.search;

    var selectBox = $('#login-systems-select');
    var renderSystemSelect = function() {
        // 拉取所有系统接口
        admin.req({
            url: '/admin/common/systems',
            method: 'get',
            done: function(res) {
                var systemOptions = '<option value="">选择系统</option>';
                $.each(res.data.systems, function (k, v) {
                    systemOptions += '<option value="' + v.systems_id + '">' + v.name + '</option>';
                });
                selectBox.html(systemOptions);
                form.render('select', 'login-select-filter');
            }
        });
    }
    renderSystemSelect();

    // form.render();
    $('#LAY-user-get-vercode').trigger('click');
    // 用户名提示信息
    $('#LAY-user-login-username').on('focus', function() {
        var tipsTxt = '一般为您姓名的全拼，如张三的域帐号为 zhangsan';
        layer.tips(tipsTxt, this, {
            tips: [2, '#009688']
        });
    });
    // 登录按钮提交
    form.on('submit(LAY-user-login-submit)', function(obj) {
        // 请求登入接口
        admin.req({
            url: '/authentication/token/get',
            method: 'post',
            data: obj.field,
            done: function(res) {
                // 页面中弹出登录成功提示，并跳转页面
                var tipsTxt = '登入成功！';
                layer.msg(tipsTxt, {
                    offset: '15px',
                    icon: 1,
                    time: 1000
                }, function() {
                    window.location.href = res.data.redirect_url;
                    // location.hash = search.redirect ? decodeURIComponent(search.redirect) : '/';
                });
            }
        });
    });
});
</script>