<script type="text/html" template>
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">系统名</label>
            <div class="layui-input-block"><input type="text" name="name" required lay-verify="required" placeholder="系统名" autocomplete="off" class="layui-input" /></div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">url地址</label>
            <div class="layui-input-block"> <input type="text" name="url" required lay-verify="url" placeholder="url地址" autocomplete="off" class="layui-input" /></div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">开发者账号</label>
            <div class="layui-input-block"> <input type="text" name="dev_account" required placeholder="开发者账号" autocomplete="off" class="layui-input" /></div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">简要描述</label>
            <div class="layui-input-block"><input type="text" name="description" placeholder="简要描述" autocomplete="off" class="layui-input" /></div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">ICON</label>
            <div class="layui-input-block">
                <div class="layui-upload" id="systems-update-img-box">
                    <input type="hidden" name="img_id" class="img_id_value" value="{{d.params.img_id}}">
                    <button type="button" class="layui-btn" id="test1" data-scenario="systems_icon">上传图片</button>
                    <div class="layui-upload-list">
                        <img class="layui-upload-img" width="100" id="demo1" src="{{d.params.show_url}}">
                        <p id="demoText"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-block">
                <select name="status" id="add-system-status" required lay-verify="required">
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="add-system">提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</script>
<script>
    layui.use(['table', 'laytpl', 'form', 'ztutil', 'admin', 'view', 'ztUpload'], function () {

        var $ = layui.jquery, table = layui.table, form = layui.form, admin = layui.admin, view = layui.view, ztUpload = layui.ztUpload;

        // 渲染管理员状态列表
        var renderStatus = function () {
            var statusHTML = '',
                optionStatus = {
                    url: '/admin/common/system-stats',
                    done: function (res) {
                        $.each(res.data.stats, function (i, v) {
                            statusHTML += '<option value="' + i + '">' + v + '</option>';
                        });
                        $('#add-system-status').html(statusHTML);
                        form.render();
                    }
                };
            admin.req(optionStatus);
        };

        ztUpload.init({
            uploadUrl: '/admin/file/upload',
            id: $('#systems-update-img-box')
        });

        renderStatus();

        // 提交添加管理员按钮
        form.on('submit(add-system)', function (data) {
            var options = {
                data: data.field,
                url: '/admin/system/create',
                method: 'post',
                done: function () {
                    layer.closeAll();
                    table.reload('systems-list-id');
                    layer.msg('添加系统成功！');
                }
            };
            admin.req(options);
            return false;
        });

    });
</script>