<script type="text/html" template>
    <form class="layui-form" action="">
        <div class="layui-form-item layui-hide">
            <label class="layui-form-label">系统编号</label>
            <div class="layui-input-block"><input type="text" class="layui-input" name="id" required lay-verify="required" placeholder="角色编号" value="{{ d.params.systems_id }}" autocomplete="off" class="layui-input" /></div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">系统名</label>
            <div class="layui-input-block"><input type="text" class="layui-input" name="name" required lay-verify="required" placeholder="系统名" value="{{d.params.name}}" autocomplete="off" class="layui-input" /></div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">URL</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="url" required lay-verify="url" placeholder="URL" value="{{d.params.url}}" autocomplete="off" class="layui-input" /></div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">开发者账号</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="dev_account" required placeholder="开发者账号" value="{{d.params.dev_account}}" autocomplete="off" class="layui-input" /></div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">描述</label>
            <div class="layui-input-block">
                <textarea class="layui-textarea" name="description" placeholder="系统简要描述">{{d.params.description}}</textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">ICON</label>
            <div class="layui-input-block">
                <div class="layui-upload" id="systems-update-img-box">
                    <input type="hidden" name="img_id" class="img_id_value" value="{{d.params.img_id}}">
                    <button type="button" class="layui-btn" id="test1" data-scenario="systems_icon">上传图片</button>
                    <div class="layui-upload-list">
                        <img class="layui-upload-img" width="100" id="demo1" src="{{d.params.show_url}}">
                        <p id="demoText"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-block">
                <select name="status" required lay-verify="required" id="system-select-status"></select>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="hidden" id="system_old_status" value="{{d.params.status}}">
                <button class="layui-btn" lay-submit="" lay-filter="edit-system">提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</script>
<script>
    layui.use(['table', 'laytpl', 'form', 'ztutil', 'admin', 'view', 'upload'], function () {

        var $ = layui.jquery, table = layui.table, form = layui.form, laytpl = layui.laytpl, ztutil = layui.ztutil, admin = layui.admin, view = layui.view, upload = layui.upload;

        // 获取状态列表
        var getStatus = function () {
            var statusHTML = '';
            var options = {
                url: '/admin/common/system-stats',
                done: function (res) {
                    var old_status = $('#system_old_status').val();
                    $.each(res.data.stats, function (i, v) {
                        // 当前状态是否为选中状态
                        var selectedSource = parseInt(i) === parseInt(old_status) ? ' selected' : '';
                        statusHTML += '<option value="' + i + '"' + selectedSource + '>' + v + '</option>';
                    });
                    $('#system-select-status').html(statusHTML);
                    form.render();
                }
            };
            admin.req(options);
        };
        $(document).ready(function (e) {
            getStatus();
        });

        var imgUploadBox = $('#systems-update-img-box');//整体框架
        var buttonElem = imgUploadBox.find('button');//上传点击框
        var TipsP = imgUploadBox.find('p');//错误提示框
        var showImg = imgUploadBox.find('img');
        var imgIdInput = imgUploadBox.find('.img_id_value');
        //普通图片上传;
        var uploadInst = upload.render({
            elem: buttonElem
            ,url: '/admin/file/upload'
            ,data: ztutil.createSign({Authorization: ztutil.getToken(), scenario: buttonElem.attr("data-scenario")})
            ,before: function(obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    showImg.attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res) {
                //如果上传失败
                if(res.code !== 0) {
                    //演示失败状态，并实现重传
                    TipsP.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                    TipsP.find('.demo-reload').on('click', function() {
                        uploadInst.upload();
                    });
                    return layer.msg(res.msg);
                }
                //上传成功
                imgIdInput.val(res.data.imgId);
                TipsP.html('<span style="color: #5FB878;">上传成功</span>');
            }
            ,error: function(){
                //演示失败状态，并实现重传
                TipsP.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                TipsP.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });


        // 编辑管理员按钮
        form.on('submit(edit-system)', function (data) {
            var options = {
                data: data.field,
                url: '/admin/system/update?id=' + data.field.id,
                method: 'patch',
                done: function () {
                    layer.closeAll();
                    table.reload('systems-list-id');
                    layer.msg('修改成功！');
                }
            };
            admin.req(options);
            return false;
        });
    });
</script>